@using MX.GeoLocation.Web.Models
@model RemoveMyDataViewModel

@{
    ViewData["Title"] = "Remove My Data";
}

<row>
    <h1 id="pageTitle">@ViewData["Title"]</h1>

    <p>
        Understandably you may wish for your data to be removed from the GeoLocation service, this can be easily done.
        <br /><br />
        The data we hold is transitory (meaning not permanent). As such data can be deleted from the service but it will
        be re-added if you visit the homepage of this website or
        someone else performs a lookup using your IP Address or a domain that resolves to it. This is why anybody can
        submit a request to remove data.
        <br /><br />
        Submitting the below form will remove the geo-location data associated with the address from this service. It
        will not remove it from the downstream MaxMind service.
    </p>
</row>

<row>
    <form asp-controller="Home" asp-action="RemoveData" method="post" autocomplete="false">
        <div class="input-group">
            <input asp-for="@Model.AddressData" class="form-control">
            <span>
                <button class="btn" type="submit" id="search">
                    <span class="fa fa-trash"></span>
                </button>
            </span>
        </div>
        <div>
            <span class="text-danger">@Html.ValidationSummary(false)</span>
        </div>
    </form>
</row>

@if (Model.Removed == true)
{
    <row>
        <p style="color: green">Data relating to @Model.AddressData has been removed from the GeoLocation database</p>
    </row>
}