parameters:
  - name: azureSubscription
    type: string
  - name: environment
    type: string
  - name: environmentName
    type: string
  - name: webAppsEnvironment
    type: string
  - name: siteUrl
    type: string

stages:
  - stage: deploy_${{ parameters.environmentName }}
    jobs:
      - deployment: deploy_${{ parameters.environmentName }}
        environment: ${{ parameters.environment }}

        variables:
          - name: SiteUrl
            value: "${{ parameters.siteUrl }}"

        workspace:
          clean: all

        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self

                - task: AzureCLI@2
                  displayName: deploy_${{ parameters.environmentName }}_bicep
                  inputs:
                    azureSubscription: ${{ parameters.azureSubscription }}
                    scriptType: "pscore"
                    scriptLocation: "inlineScript"
                    inlineScript: |
                      $config = (Get-Content params/${{ parameters.environmentName }}.json | ConvertFrom-Json)

                      $deploymentName = "geolocation-${{ parameters.environmentName }}-$($config.parameters.instance.value)"
                      $deletedKeyVaults = az keyvault list-deleted --query '[].properties.vaultId' | ConvertFrom-Json
                      $isDeleted = $deletedKeyVaults | where {$_ -match "rg-geolocation-${{ parameters.environmentName }}-$($config.parameters.location.value)-$($config.parameters.instance.value)"}

                      $keyVaultCreateMode = "default"
                      if ($isDeleted -ne $null) {
                        # To allow the environments to be torn-down and re-created, the Key Vault Create Mode must be set to 'recover'.
                        $keyVaultCreateMode = "recover"
                      }

                      az deployment sub create `
                        --name $deploymentName `
                        --template-file bicep/main.bicep `
                        --location $config.parameters.location.value `
                        --parameters @params/${{ parameters.environmentName }}.json `
                          keyVaultCreateMode=$keyVaultCreateMode

                - task: AzureCLI@2
                  displayName: CreateAppRegistrations
                  inputs:
                    azureSubscription: ${{ parameters.azureSubscription }}
                    scriptType: "pscore"
                    scriptLocation: "inlineScript"
                    inlineScript: |
                      $config = (Get-Content params/${{ parameters.environmentName }}.json | ConvertFrom-Json)

                      . "./scripts/CreateAppRegistration.ps1" `
                          -applicationName "geolocation-api-${{ parameters.environmentName }}-$($config.parameters.instance.value)" `
                          -appRoles "lookup-api-approles.json"

                - task: AzureCLI@2
                  displayName: CreateAppRegistrationsCredentials
                  inputs:
                    azureSubscription: ${{ parameters.azureSubscription }}
                    scriptType: "pscore"
                    scriptLocation: "inlineScript"
                    inlineScript: |
                      $config = (Get-Content params/${{ parameters.environmentName }}.json | ConvertFrom-Json)

                      $deploymentOutput = (az deployment sub show --name "geolocation-$($config.parameters.environment.value)-$($config.parameters.instance.value)") | ConvertFrom-Json

                      . "./scripts/CreateAppRegistrationCredential.ps1" `
                        -keyVaultName $deploymentOutput.properties.outputs.outKeyVaultName.value `
                        -applicationName "geolocation-api-${{ parameters.environmentName }}-$($config.parameters.instance.value)" `
                        -secretPrefix "geolocation-api-${{ parameters.environmentName }}" `
                        -secretDisplayName 'publicwebapp'

                - task: AzureCLI@2
                  name: deploy_outputs
                  inputs:
                    azureSubscription: ${{ parameters.azureSubscription }}
                    scriptType: "pscore"
                    scriptLocation: "inlineScript"
                    inlineScript: |
                      $config = (Get-Content params/${{ parameters.environmentName }}.json | ConvertFrom-Json)

                      $deploymentOutput = (az deployment sub show --name "geolocation-$($config.parameters.environment.value)-$($config.parameters.instance.value)") | ConvertFrom-Json

                      echo "##vso[task.setvariable variable=webAppIdentityPrincipalId]$($deploymentOutput.properties.outputs.webAppIdentityPrincipalId.value)"
                      echo "##vso[task.setvariable variable=webAppName]$($deploymentOutput.properties.outputs.webAppName.value)"
                      echo "##vso[task.setvariable variable=webApiName]$($deploymentOutput.properties.outputs.outWebApiName.value)"

                      echo "##vso[task.setvariable variable=webAppsResourceGroupName]$($deploymentOutput.properties.outputs.outResourceGroupName.value)"

                - task: AzureCLI@2
                  displayName: SetPublicWebAppPermissions
                  inputs:
                    azureSubscription: ${{ parameters.azureSubscription }}
                    scriptType: "pscore"
                    scriptLocation: "inlineScript"
                    inlineScript: |
                      $config = (Get-Content params/${{ parameters.environmentName }}.json | ConvertFrom-Json)

                      $apiName = "geolocation-api-$($config.parameters.environment.value)-$($config.parameters.instance.value)"
                      $apiId = (az ad app list --filter "displayName eq '$apiName'" --query '[].appId') | ConvertFrom-Json
                      $resourceId = (az ad sp list --filter "appId eq '$apiId'" --query '[0].id') | ConvertFrom-Json
                      $apiSpn = (az rest -m GET -u https://graph.microsoft.com/v1.0/servicePrincipals/$resourceId) | ConvertFrom-Json
                      $appRoleId = ($apiSpn.appRoles | Where-Object { $_.displayName -eq "LookupApiUser" }).id

                      $deploymentOutput = (az deployment sub show --name "geolocation-$($config.parameters.environment.value)-$($config.parameters.instance.value)") | ConvertFrom-Json

                      $principalId = $deploymentOutput.properties.outputs.webAppIdentityPrincipalId.value
                      . "./scripts/GrantPrincipalAppRole.ps1" -principalId $principalId -resourceId $resourceId -appRoleId $appRoleId

                - download: current
                  artifact: MX.GeoLocation.Api.V1

                - download: current
                  artifact: MX.GeoLocation.Web

                - task: AzureRmWebAppDeployment@4
                  retryCountOnTaskFailure: 3
                  inputs:
                    azureSubscription: ${{ parameters.azureSubscription }}
                    webAppName: $(webApiName)
                    resourceGroupName: $(webAppsResourceGroupName)
                    packageForLinux: "$(Pipeline.Workspace)/MX.GeoLocation.Api.V1/MX.GeoLocation.Api.V1.zip"

                - task: AzureRmWebAppDeployment@4
                  retryCountOnTaskFailure: 3
                  inputs:
                    azureSubscription: ${{ parameters.azureSubscription }}
                    webAppName: $(webAppName)
                    resourceGroupName: $(webAppsResourceGroupName)
                    packageForLinux: "$(Pipeline.Workspace)/MX.GeoLocation.Web/MX.GeoLocation.Web.zip"

            postRouteTraffic:
              steps:
                - checkout: self

                - pwsh: Invoke-WebRequest -Uri ${{ parameters.siteUrl }} -MaximumRetryCount 10 -RetryIntervalSec 5

                - task: UseDotNet@2
                  displayName: "Use .NET SDK 9.x"
                  inputs:
                    version: "9.x"

                - task: DotNetCoreCLI@2
                  displayName: "Build the project - Release"
                  inputs:
                    command: "build"
                    arguments: "--configuration Release"
                    projects: "$(System.DefaultWorkingDirectory)/**/*.IntegrationTests.csproj"

                - task: DotNetCoreCLI@2
                  displayName: "Install Playwright CLI tool"
                  inputs:
                    command: 'custom'
                    custom: 'tool'
                    arguments: 'install --global Microsoft.Playwright.CLI'

                - script: playwright install
                  displayName: "Install Playwright browsers"

                - task: DotNetCoreCLI@2
                  displayName: "Run UI Tests"
                  inputs:
                    command: "test"
                    arguments: "--no-build --configuration Release"
                    publishTestResults: true
                    projects: "$(System.DefaultWorkingDirectory)/**/*.IntegrationTests.csproj"
