trigger: none
pr: none

# Nightly cleanup at 01:20 UTC to keep dev spend low.
schedules:
  - cron: "20 1 * * *"
    displayName: "Nightly Destroy Development (01:20 UTC)"
    branches:
      include:
        - main
    always: true

pool:
  vmImage: ubuntu-latest

resources:
  repositories:
    - repository: ado-pipeline-templates
      type: github
      name: frasermolyneux/ado-pipeline-templates
      endpoint: github.com_frasermolyneux

stages:
  - stage: clean_up_dev_resources
    jobs:
      - deployment: clean_up_dev_resources
        environment: geo-location-Development
        workspace:
          clean: all

        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                  displayName: Checkout repository

                - task: AzureCLI@2
                  displayName: DestroyDevResourceGroup
                  inputs:
                    azureSubscription: "spn-geo-location-development"
                    scriptType: "pscore"
                    scriptLocation: "inlineScript"
                    inlineScript: |
                      $params = Get-Content "$(System.DefaultWorkingDirectory)/params/dev.json" | ConvertFrom-Json
                      $envName = $params.parameters.environment.value
                      $location = $params.parameters.location.value
                      $instance = $params.parameters.instance.value

                      $resourceGroupName = "rg-geolocation-$envName-$location-$instance"

                      Write-Host "Deleting resource group $resourceGroupName"
                      az group delete --name $resourceGroupName --yes --no-wait
