trigger: none
pr: none

schedules:
  - cron: "0 3 * * 1"
    displayName: Destroy Development
    branches:
      include:
        - main

pool:
  vmImage: ubuntu-latest

resources:
  repositories:
    - repository: ado-pipeline-templates
      type: github
      name: frasermolyneux/ado-pipeline-templates
      endpoint: github.com_frasermolyneux

stages:
  - stage: clean_up_dev_resources
    jobs:
      - deployment: clean_up_dev_resources
        environment: geo-location-Development
        workspace:
          clean: all

        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureCLI@2
                  displayName: DestroyDevResources
                  inputs:
                    azureSubscription: "spn-geo-location-development"
                    scriptType: "pscore"
                    scriptLocation: "inlineScript"
                    inlineScript: |
                      Write-Host "TODO"
