parameters:
- name: skipBicepValidate
  type: boolean
  default: false

trigger:
  branches:
    include:
    - main
    - feature/*
    - dependabot/*

schedules:
  - cron: "0 3 * * 0"
    displayName: Weekly Build
    branches:
      include:
      - main

pool: 'Dedicated'

stages: 
- stage: Build
  jobs:
  - template: templates/build-web-app.yml
    parameters: 
      jobName: 'BuildPublicWebApp'
      projectName: 'public-webapp'

  - template: templates/build-web-app.yml
    parameters: 
      jobName: 'BuildLookupWebApi'
      projectName: 'lookup-webapi'

- stage: Packages
  jobs:
  - template: templates/build-net-library.yml
    parameters: 
      jobName: 'BuildLookupApiClient'
      projectName: 'lookup-api-client'

  - template: templates/build-net-library.yml
    parameters: 
      jobName: 'BuildLookupApiAbstractions'
      projectName: 'lookup-api-abstractions'

- stage: ValidateBicep
  jobs: 
  - job: LintCode
    displayName: Lint Code
    steps:
      - script: |
          az bicep build --file bicep/platform.bicep
          az bicep build --file bicep/services.bicep
        name: LintBicepCode
        displayName: Run Bicep Linter

  - deployment: ValidateBicepCode
    dependsOn: [LintCode]
    environment: 'geolocation-prd'

    strategy:
      runOnce:
        deploy:
          steps:
            - task: AzureCLI@2
              name: RunPreflightValidation
              inputs:
                azureSubscription: 'spn-ado-Personal-Public-geolocation-prd'
                scriptType: 'pscore'
                scriptLocation: 'inlineScript'
                inlineScript: |
                  az deployment sub validate `
                    --template-file bicep/platform.bicep `
                    --location 'uksouth' `
                    --parameters @params/platform.prd.json

                  if ('${{ parameters.skipBicepValidate }}' -eq $false)
                  {
                    az deployment group validate `
                      --resource-group 'rg-geolocation-prd-uksouth' `
                      --template-file bicep/services.bicep `
                      --parameters @params/services.prd.json
                  }

            - task: AzureCLI@2
              name: RunWhatIfDeploy
              inputs:
                azureSubscription: 'spn-ado-Personal-Public-geolocation-prd'
                scriptType: 'pscore'
                scriptLocation: 'inlineScript'
                inlineScript: |
                  az deployment sub what-if `
                    --template-file bicep/platform.bicep `
                    --location 'uksouth' `
                    --parameters @params/platform.prd.json

                  if ('${{ parameters.skipBicepValidate }}' -eq $false)
                  {
                    az deployment group what-if `
                      --resource-group 'rg-geolocation-prd-uksouth' `
                      --template-file bicep/services.bicep `
                      --parameters @params/services.prd.json
                  }